{% extends 'lito/base.html' %}
{% load staticfiles%}
{% block content %}
    <div class="reader_view">
    <div id="story">
        <div id="story_data" pk="{{ story.pk }}"></div>
        <div class="row">
         <div class="col-md-12">
            <h1>{{ story.title }}</h1>
        </div>
              
        <div class="col-md-6">
           <div id="map">
           </div>
        </div>


        <div class="col-md-6">
            <div class="story_points">
                {% if story_points_list %}
                {% for story_point in story_points_list %}
                <div id="storypoint_{{ story_point.pk }}">
                    <h3>{{ story_point.title }}</h3>
                    <p>(@{{ story_point.location_name }})</p>
                    {% if story_point.img_url %}
                        <img src="{{ story_point.img_url }}" width="500" height="350">
                    {% endif %}
                    <p>{{ story_point.text }}</p> 
                </div>
                {% endfor %}
                {% else %}

                <div>
                    <p>The author hasn't write anything here yet. Please come back later.</p> 
                </div>
                {% endif %}

            </div>
        </div>  
        </div>

    </div>
    </div>

    <script type="text/javascript" src="{% static 'js/lito.js' %}"></script>

{% endblock %}


            
