{% extends 'lito/base.html' %}
{% load staticfiles%}
{% block content %}
    <div class="reader_view">
    <div id="story">
        <div id="story_data" pk="{{ story.pk }}"></div>
        <div class="row">
         <div class="col-md-12">
            <h1>{{ story.title }}</h1>
        </div>


        <div class="col-md-6 scrollable">
            <div id="story_points" class="story_points">
                {% if story_points_list %}
                {% for story_point in story_points_list %}
                <div id="{{ story_point.num_order }}" class="story_point">
                    <h3>{{ story_point.num_order }}. {{ story_point.title }}</h3>
                    <p>(@{{ story_point.location_name }})</p>
                    {% if story_point.img_url %}
                        <img src="{{ story_point.img_url }}" width="100%" >
                    {% endif %}
                    {% if story_point.soundcloud_url %}
                    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url={{ story_point.soundcloud_url }}&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                    {% endif %}
                    {% if story_point.youtube_url %}
                        <iframe width="560" height="315" src="{{ story_point.youtube_url }}" frameborder="0" allowfullscreen></iframe>
                    {% endif %}

                        <div class="text">{{ story_point.text }}</div>

                </div>
                {% endfor %}
                {% else %}

                <div>
                    <p>The author hasn't write anything here yet. Please come back later.</p>
                </div>
                {% endif %}

            </div>
        </div>

        <div class="col-md-6">
           <div id="map">
           </div>
        </div>




        </div>

    </div>
    </div>

    <script type="text/javascript" src="{% static 'js/lito.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.waypoints.min.js' %}"></script>

{% endblock %}



