{% extends 'lito/base.html' %}

{% block content %}
    <div class="writer_view">
      <div id="story_list">  
        <div class="row">
      
        <div class="col-md-6">
            <h1>Your Stories</h1>

            {% if story_list %}
            {% for story in story_list %}
                <div>
                    <h2><a href="{% url 'story_detail' pk=story.pk %}">{{ story.title }}</a></h2>
                    <p>By: {{ story.author }}</p>
                </div>
            {% endfor %}
            {% else %}

            <div>
                <h2>You haven't writen any story. Click the button on the right to start writing.</h2> 
            </div>



            {% endif %}
        </div>


        <div class="col-md-6">
            <h1>Write a new Story</h1>
        </div>

        <div>
            <a href="{% url 'story_new' %}" type="button" class="btn-lg btn-link" style="background-color:orange" >Start Writing</a>
        </div>

    </div>


      </div>
    </div>
{% endblock %}