{% extends 'lito/base.html' %}

{% block content %}
    <div class="story_point">
        {% if story_point.location_name %}
            <div class="location">
                <h2>{{ story_point.location_name }}</h2>
                Latitude: {{story_point.latitude}}, 
                Longitude: {{story_point.longitude}}

                <div id="map_detail"></div>
    
        {% endif %}
        
        <h1>{{ story_point.title }}</h1>
        {% if story_point.img_url %}
          <img src="{{ story_point.img_url }}" width="500" height="350">
        {% endif %}
        {% if story_point.soundcloud_url %}
          <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url={{ story_point.soundcloud_url }}&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        {% endif %}
        {% if story_point.youtube_url %}
          <iframe width="560" height="315" src="{{ story_point.youtube_url }}" frameborder="0" allowfullscreen></iframe>
        {% endif %}
        <p>{{ story_point.text|linebreaks }}</p>
    </div>


    <script>

      function initMap() {
        var myLatLng = {lat: {{story_point.latitude}}, lng: {{story_point.longitude}}};

        var map = new google.maps.Map(document.getElementById('map_detail'), {
          zoom: 12,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }

      // Creates Map
      $(document).ready(function() {
        initMap();

      });


    </script>


    </div>


{% endblock %}


