{% extends 'lito/base.html' %}

{% block content %}
    <h1>New Story Point</h1>
    <form method="POST" class="story_point-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

    <input id="pac-input" class="controls" type="text" placeholder="Search Box">

    <div id="map_search"></div>

    <script>

      function initMap() {
        var nyc = {lat: 40.782864, lng: -73.967549};

        var map = new google.maps.Map(document.getElementById('map_search'), {
          zoom: 12,
          center: nyc
        });

        google.maps.event.addListener(map, "click", function (e) {
            //lat and lng is available in e object
            var latLng = e.latLng;

            var lat = latLng.lat();
            var lat = lat.toFixed(6);

            var lng = latLng.lng();
            var lng = lng.toFixed(6);

            console.log(lat, lng);

            $("#id_latitude").val(lat);

            $("#id_longitude").val(lng);

        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }

          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };

            // Create a marker for each place.
            markers.push(new google.maps.Marker({
              map: map,
              icon: icon,
              title: place.name,
              position: place.geometry.location
            }));

            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });

      }

      // Creates Map
      $(document).ready(function() {
        initMap();

      });




    </script>


    </div>


{% endblock %}