{% extends 'lito/base.html' %}

	{% block content %}
	<div>
	    <h1><a href="/">Sign up</a></h1>
	</div>

	    <div>
	        <div><input type="text" name="login" value="" placeholder="User ID:"></div>
	        <div><input type="email" name="email" value="" placeholder="Email:"></div>
	        <div><input type="password" name="password1" value="" placeholder="Password:"></div>
	        <div><input type="password" name="password2" value="" placeholder="Confirm Password:"></div>

	         <div><button type="button" value="Login" >Login</button></div>



	     <div>
	    	<h1><a href="/">{{ thread.subject }}</a></h1>
	    	
        
        {{ form.as_p }}
	   
		</div>

	    </div>
	{% endblock %}