/* Check if this is necessary Google Maps API */
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map-canvas { height: 80% }
  .hidden { display: none; }

    h1, h1 a {
    color: #000000;
    font-family: 'Courier'
}

body {
    padding-left: 15px;
}

.page-header {
    background-color: #000000;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.user {
    color: #ffffff;
}

.custom {
    width: 500px !important;
    margin-top: 10;
    padding: 20px 20px 20px 20px;
    background-color:#d3d3d3
}

.content {
    margin-left: 40px;
}

 h2, h3, h4, p {
    font-family: 'Helvetica', cursive;
}

/*.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}*/


/* !!! Important !!! */

.text {
    white-space: pre-wrap;
}

.scrollable {
    width: 50%;
    height: 65%;
    overflow-y: auto;
}

.story_point {
    width: 100%;
}

.story_point_detail {
    width: 50%;
}







